<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Sunss0518.GitHub.io</h1>
        <h2></h2>
        <section id="downloads">
          <a href="https://github.com/sunss0518" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <footer>
      <div class="container">
        <table>
          <th><small>孙帅帅的博客</small></th>
          <td><a href="http://weibo.com/2535244965/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" class="btn" target="_blank">Sina</a></td>
          <td><a href="http://codepen.io/sunss0518/" class="btn" target="_blank">Codepen</a></td>
        </table>
      </div>
    </footer>        
  </body>
</html>
